
body{
    margin: 0;
    
}
header{
    padding: 0s;
}

/* background logo */
header{
    background-image: url("../img/pattern.png");
    background-color: aqua;
    background-size: contain;
    margin: 0;
    position: relative;
    width: 100%;
}

main{
     margin-left: 10%;
     margin-right: 10%;
    position: relative;
     
}

footer{
    margin-left: 10%;
    margin-right: 10%;
}

.logo img{
    margin-top: 50px;
    margin-left: 10%;
    width: 200px;
    height: 100px;
}

span{ 
    background-color: gold;
}
/* colore header table */
.blue{
    background-color: blue;
    color: #fff;
    
}
/* colore cele table */
.aqua{
    background-color: aqua;
}

.info{
    color: lightgrey;
    line-height: 0;
    margin-bottom: 40px;
    margin-top: 0;
    
}


.mini{
    color:  #fff;
    width: 200px;
    height: 200px;
}

#viola{
    position: relative;
}

#nero{
    position: relative;
}

.text{ 
    position: absolute;
    margin: auto;
    top: 10px;
}

ul{ 
    padding: 15px;
    
}

th{
    width: 400px;
    text-align: left;
    height: 30px;
}

.refe{
    align-items: center;
    line-height: 0;
    margin-bottom: 40px;
    font-size: small;
}

.mini h2{
    width: 300px;
}

a{
    text-decoration: none;
    color: blue;
}