/* margine body */
body{
    margin: 0;
    
}

/* background logo */
header{
    background-image: url("../img/pattern.png");
    background-color: aqua;
    background-size: contain;
    margin: 0;
    position: relative;
    width: 100%;
}
/* posizionamento logo */
.logo img{
    margin-top: 50px;
    margin-left: 10%;
    width: 200px;
    height: 100px;
}
/* margine main */
main{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    
}
/* informazione degli scritori */
.info{
    color: lightgrey;
    line-height: 0;
    margin-bottom: 40px;
    margin-top: 0;
    
}


a{
    text-decoration: none;
    color: blue;
}


/* riferimenti dell´imagine */
.refe{
    align-items: center;
    line-height: 0;
    margin-bottom: 40px;
    font-size: small;
}

span{ 
    background-color: gold;
}
/* colore header table */
.blue{
    background-color: blue;
    color: #fff;
    
}
/* colore cele table */
.aqua{
    background-color: aqua;
}
ul{ 
    padding: 15px;
    
}

th{
    width: 400px;
    text-align: left;
    height: 30px;
}

/* margine footer */
footer{
    margin-left: 10%;
    margin-right: 10%;
}

.mini{
    color:  #fff;
    width: 200px;
    height: 200px;
}

#viola{
    position: relative;
}

#nero{
    position: relative;
}

.text{ 
    position: absolute;
    margin: auto;
    top: 10px;
}



.mini h2{
    width: 300px;
}
